.main-container {
  display: grid;
  position: absolute;
  width:480px;
  height: 480px;
  max-width: 960px;
  max-height: 960px;
  box-sizing: border-box;
  border: 5px solid #7a7a7a; 
  text-align: center; 
  padding: 10px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;

}
.gridCell {
	border: 1px solid #d8d8d8;
}
